.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
   color: #D84315;
}

span.MathJax{
   color: #263238;
}

ul {
   list-style: none;
}

li::before {content: "•"; color: #FF8A65;
  display: inline-block; width: 1em;
  margin-left: -1em}
