.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
   color: #D84315;
}

.reveal span.MathJax{
   color: #263238;
}

.reveal ul {
   list-style-type: none;
   list-style: none;
}

.reveal ul>li::before {content: "&#9774;"; color: #FF8A65;
  display: inline-block; width: 1em;
  margin-left: -1em}
